# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Overrides for known binary files
*.glb binary
*.png binary
*.ron binary # *.ron files are large. Don't handle as text